
on:
  push:
    branches:
      - 'testing'
    paths:
      - 'lean-toolchain'

jobs:
  lean-release-tag:
    name: Add Lean release tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: lean-release-tag action
      uses: leanprover-community/lean-release-tag@c8c090c738fd5bd869f2ce2086021ac061ae5338
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

